@font-face {
    font-family: "CanvaSans";
    src: url("Fonts/CanvaSans/CanvaSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CanvaSans";
    src: url("Fonts/CanvaSans/CanvaSans-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
/* Regular */
@font-face {
    font-family: "Kollektif";
    src: url("Fonts/kollektif/Kollektif.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: "Kollektif";
    src: url("Fonts/kollektif/Kollektif-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: "Kollektif";
    src: url("Fonts/kollektif/Kollektif-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

/* Bold Italic */
@font-face {
    font-family: "Kollektif";
    src: url("Fonts/kollektif/Kollektif-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}


img {
    border-radius: 50%;
    /* border-color: aliceblue; */
    border: 10px solid aliceblue;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: rgba(244, 242, 242, 0.785);
}

h1 {
    color: rgb(255, 255, 255);
}

#bullets1 {
    color: rgb(188, 165, 19);
}

a:link,
a:visited {
    color: teal;
}

/* a:visited{
    color: blueviolet;
} */
a:hover,
a:active {
    color: teal;
}

a.one:visited {
    color: rgb(15, 115, 113);
}

#git {
    color: rgb(12, 4, 4);
}

#linkedin {
    color: rgb(12, 4, 4);
}

#envelope {
    color: rgb(12, 4, 4);
}

/* construction {
    border-radius: 5%;
} */

mark {
    background-color: black;
    color: wheat;
}
#construction {
    font-family: "Kollektif";
    /* font-style: italic; */
    font-weight: normal;
    background: black;
    color: white;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 1rem;
    display: inline-block;    /* prevents full-width */
    text-align: center;
    margin-top: 10px;
}
#about {
    font-family: "CanvaSans", sans-serif;
    text-align: justify;
    font-weight: normal;
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
/*     background-color: rgb(243, 238, 234); */
    color: black;
    max-width: 100%;
    /* Max width ensures it's responsive */
    margin-left: auto;
    margin-right: auto;
    /* Automatically centers horizontally */
}

#myname {
    font-family: "CanvaSans", sans-serif;
    text-align: center;
    font-weight: normal;
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
/*     background-color: rgb(243, 238, 234); */
    color: black;
    max-width: 100%;
    /* Max width ensures it's responsive */
    margin-left: auto;
    margin-right: auto;
    /* Automatically centers horizontally */
}

@media (max-width: 768px) {
    #main-body {
        max-width: 100%;
        /* For smaller screens, use 90% of the screen width */
    }

    #about {
        max-width: 100%;
        /* For smaller screens, use 90% of the screen width */
    }
}

#main-body {
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    max-width: 768px;
    /* Max width ensures it's responsive */
    margin-left: auto;
    margin-right: auto;
    /* Automatically centers horizontally */
    box-shadow: 1px 1px 25px #d8d8d8;

}
.subject-title{
    font-style: italic;
}

#updates-container{
    text-align: left !important;
    font-family: CanvaSans;
}

.update-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
    /* font-family: Kollektif; */
}

.update-item .update-title {
    flex: 1;
    font-family: Kollektif;
}

.update-talks {
    /* display: flex; */
    justify-content: space-between;
    /* align-items: center; */
    padding: 4px 0;
}

.update-talks .authors {
    flex: 1;
    font-family: CanvaSans;
}
.update-talks .subject-title {
    flex: 1;
    font-family: Kollektif;
}
.update-talks .where {
    /* white-space: nowrap; */
    margin-left: 1rem;
    font-family: CanvaSans;
}
.update-item .badge-winner {
    background: gold;
    color: black;
    font-weight: bold;
    padding: 1px 5px;
    border-radius: 6px;
    font-size: 0.9rem;
    margin-right: 6px;
}
