@font-face {
    font-family: "CanvaSans";
    src: url("./usr/share/fonts/OnlineWebFonts_COM_5f2c1fb3cc2f6e9776878fef70759e96/Centra No1 TRIAL/usr/share/fonts/OnlineWebFonts_COM_5f2c1fb3cc2f6e9776878fef70759e96/Centra No1 TRIAL.ttf");
}

img {
    border-radius: 50%;
    /* border-color: aliceblue; */
    border: 10px solid aliceblue;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    background-color: rgba(244, 242, 242, 0.785);
}

h1 {
    color: rgb(255, 255, 255);
}

#bullets1 {
    color: rgb(188, 165, 19);
}

a:link,
a:visited {
    color: teal;
}

/* a:visited{
    color: blueviolet;
} */
a:hover,
a:active {
    color: teal;
}

a.one:visited {
    color: rgb(15, 115, 113);
}

#git {
    color: rgb(12, 4, 4);
}

#linkedin {
    color: rgb(12, 4, 4);
}

#envelope {
    color: rgb(12, 4, 4);
}

/* construction {
    border-radius: 5%;
} */

mark {
    background-color: black;
    color: wheat;
}

#about {
    font-family: "CanvaSans", sans-serif;
    text-align: justify;
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
/*     background-color: rgb(243, 238, 234); */
    color: black;
    max-width: 100%;
    /* Max width ensures it's responsive */
    margin-left: auto;
    margin-right: auto;
    /* Automatically centers horizontally */
}

@media (max-width: 768px) {
    #main-body {
        max-width: 100%;
        /* For smaller screens, use 90% of the screen width */
    }

    #about {
        max-width: 100%;
        /* For smaller screens, use 90% of the screen width */
    }
}

#main-body {
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    max-width: 768px;
    /* Max width ensures it's responsive */
    margin-left: auto;
    margin-right: auto;
    /* Automatically centers horizontally */
    box-shadow: 1px 1px 25px #d8d8d8;

}
.subject-title{
    font-style: italic;
}

#updates-container{
    text-align: left !important;
}